h1{
    text-align: center;
    font-size: 50px;
    color: #0099ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}
p{
    color: blue;
    
}